
params {
	
	// pre-bundled sequence data
	consensus_seqs = "$baseDir/data/alltimepoints_20220222.fasta"
	
	// variant call data
	input_data = "$baseDir/data"

	// directories
	results = "$baseDir/results"
	visuals = "$baseDir/results/visuals"
	readables = "$baseDir/results/readables"

}

docker.enabled = true
process.container = 'nrminor/wisc-prolonged-infection:v1_0_4'
